<ion-view id="guidePage" view-title="引导页" cache-view="false">
  <div id="guideSlide" class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="item-logo" style="background-color: #D74B28">
          <a href="#">
            传智播客
          </a>

          <div class="animate guide-show">
            <h2 class="animated bounceInDown">企业精神</h2>
            <li class="animated bounceInLeft">爱岗敬业，为人师表</li>
            <li class="animated bounceInRight">团结友善，勇于担当</li>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item-logo" style="background-color: #02C1ED;">
          <a href="#">
            传智播客
          </a>

          <div id="tips-2" class="animate hidden">
            <h2 class="animated bounceInDown">核心价值</h2>
            <li class="animated bounceInLeft">务实，质量，创新。</li>
            <li class="animated bounceInRight">分享，专注，责任。</li>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item-logo" style="background-color: #67C962;">
          <a href="#">
            传智播客
          </a>

          <div id="tips-3" class="animate hidden">
            <h2 class="animated bounceInDown">牛逼的地方</h2>
            <li class="animated bounceInLeft">传智播客牛逼</li>
            <li class="animated bounceInRight">不是吹nb!是真nb！</li>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="item-logo" style="background-color: #FCD208;">
          <a href="#">
            传智播客
          </a>

          <div class="animate guide-show">
            <button id='close' class="mui-btn mui-btn-warning mui-btn-outlined" ng-click="func_goHome()">立即体验</button>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</ion-view>




<!-- <ion-view view-title="引导页">
<button class="button button-assertive" ng-click="show()">open</button> -->
<!-- <script id="modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar>
      <h1 class="title">我的模型标题</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </div>
</script> -->
<!-- <ion-slide-box style="height: 100%" does-continue="true"
 auto-play="true" slide-interval="1000" show-pager="true"
 on-slide-changed="func_change(index)" active-slide="index">
<ion-slide class="yellow" >1</ion-slide>
<ion-slide class="assertive-bg">2</ion-slide>
<ion-slide class="calm-bg">3</ion-slide>
<ion-slide class="positive-bg">4</ion-slide>
</ion-slide-box> -->
<!-- <ion-list>
<ion-radio>...</ion-radio>

</ion-list> -->
<!-- <ion-header-bar align-title=left>
<i class="title">header-bar</i>
</ion-header-bar>
<!-- <ion-content >content</ion-content> -->
<!-- <any class="tabs tabs-striped">
    <any class="tab-item">abc</any>
    <any class="tab-item">ABC</any>
    wo
</any>
<ion-footer-bar>footer-bar</ion-footer-bar> --> -->
<!-- </ion-view> -->
